{% extends "base.html" %}
{% block content %}

{% include "header.html" %}

<div class='message'>Edit Card [{{card.term}}]</div>

<form action='{{url_for('editCard', notebook_id = notebook_id, card_id = card.id)}}' method='POST'>
    <div class='label'>Name</div><br>
    <input type='text' size='30' name='card_term' value='{{card.term}}'>
    <br>
    <div class='label'>Tag</div><br>
    <input type='text' size='30' name='card_tag' value='{{card.tag}}'>
    <br>
    <div class='label'>Description</div>
    <div><textarea name='card_description'>{{card.description}}</textarea></div>
    <br>
    <div class='error'>{{error}}<br></div>
    <input class='button' type='submit' value='Edit'>
</form>


<div class='cancel'>
    <a href='{{url_for('showCards', notebook_id = notebook_id)}}'>Cancel</a>
</div>

{% endblock %}